.container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  position: absolute;
  width: 100%;
  z-index: 100;
  top: 0;
  padding: 0 30px;
  box-sizing: border-box;
}

.container h1{
  font-family: videojuegos;
  display: inline-block;
  color: rgb(255, 0, 119);
  font-size: 20px;
  padding: 2px 35px;
  border-radius: 7px;
}

.container h1:hover{
  background-color: rgba(0, 255, 255, 0.62);
  transition: 0.3s;
  border-radius: 7px;
}

.home{
  margin-right: 0%;
  display: inline-block;
}

.menu{
  margin-right: 0%;
  display: inline-block;
}

