@font-face{
  font-family: videojuegos;
  src:url(../src/z_imagesFonts/Fonts/neo_cybern\ mundo\ de\ videojuegos/NEO\ CYBERN.otf);
}
@font-face{
  font-family: 'navbar';
  src:url(../src/z_imagesFonts/Fonts/listian\ about\ favorites\ find//Listian\ Reguler.otf) 
}
@font-face{
  font-family: 'about';
  src:url(../src/z_imagesFonts/Fonts/anthem_minimalism\ Programming\ defines\ me/Anthem\ Minimalism\ serif.otf)
}
@font-face{
  font-family: about2;
  src:url(../src/z_imagesFonts/Fonts/madeline_2\ Programing\ defines\ me/Madeline.otf)
}
@font-face{
  font-family: title;
  src:url(../src/z_imagesFonts/Fonts/road_racer\ page\ name/Road\ Racer\ Demo.ttf)
}
@font-face{
  font-family: instrucciones;
  src:url(../src/z_imagesFonts/Fonts/versatylo_rounded\ encontraras\ un\ boton\ de\ busqueda/VersatyloRoundedPersonalUseOnly.ttf)
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  box-sizing: border-box;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
