@font-face{
  font-family: videojuegos;
  src:url(./z_imagesFonts/Fonts/neo_cybern\ mundo\ de\ videojuegos/NEO\ CYBERN.otf);
}
@font-face{
  font-family: 'navbar';
  src:url(./z_imagesFonts/Fonts/listian\ about\ favorites\ find//Listian\ Reguler.otf) 
}
@font-face{
  font-family: 'about';
  src:url(./z_imagesFonts/Fonts/anthem_minimalism\ Programming\ defines\ me/Anthem\ Minimalism\ serif.otf)
}
@font-face{
  font-family: about2;
  src:url(./z_imagesFonts/Fonts/madeline_2\ Programing\ defines\ me/Madeline.otf)
}
@font-face{
  font-family: title;
  src:url(./z_imagesFonts/Fonts/road_racer\ page\ name/Road\ Racer\ Demo.ttf)
}
@font-face{
  font-family: instrucciones;
  src:url(./z_imagesFonts/Fonts/versatylo_rounded\ encontraras\ un\ boton\ de\ busqueda/VersatyloRoundedPersonalUseOnly.ttf)
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  box-sizing: border-box;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button{
  box-sizing:content-box;
  border: 0;
  padding: 6px 12px;
  border-radius: 9px;
  cursor: pointer;
  background-image: linear-gradient(to bottom right, #43b7ff 5%, #011afc 20%, #0d0081 50%, #0000a2 75%, #382aff 90%);
}

button:hover{
  background-image: linear-gradient(to bottom right, #6fc7ff 5%, #3348ff 20%, #241a84 50%, #2121a7 75%, #6156ff 90%);
}