.container{
  height: 100vh;
  width: 100%;
  position:fixed;
}

.background{
  height: 100vh;
  width: 100%;
  position:absolute;
  transform: translate(-50%);
}

.components{
  position: absolute;
}


.section2{
  height: 100vh;
}

.circleTwo{
  background: radial-gradient(ellipse at 61% -10%, rgba(0, 224, 255, 1) 5%, rgb(10, 0, 151) 31%,rgb(164, 1, 193) 82%, rgb(233, 25, 188) 90%);
  height: 100vh;
  width: 100%;
  display: absolute;
  top: 0;
}

.botonPresentacion{
 z-index: 200;
 position: absolute;
 top: 85%;
}