.bg{
  height: 100vh;
  width: 100%;
  vertical-align: top;
  position: absolute;
  right: 0;
  top: 0;
}

.leftImages{
  height: 100vh;
}

.dragon{
  height: 40%;
  position: absolute;
  left: 0;
  top: 0;
}

.warrior{
  height: 45%;
  position: absolute;
  right: 0%;
  bottom: 0%;
}

.ingresar{
  width: 120px;
  height: 40px;
  position: absolute;
  top: 21%;
  right: 50%;
  border-radius: 20px;
  transform: translate(50%);
  z-index: 100;
}