.section1{
  width: 100%;
}

.bg{
  height: 100vh;
  width: 100%;
  background-color: rgb(0, 0, 140);
}

.imagen{
  height: 70%;
  left: 40%;
  bottom: 0%;
  position: absolute;
}

.imagen2{
  height: 100vh;
  position: absolute;
  transform: translate(-50%);
  width: 100%;
}
.imagen3{
  height: 100vh;
  position: absolute;
  transform: translate(-50%);
  width: 100%;
}
.section3{
  position: relative;
  height: 100vh;
}

.bg3{
  position: relative;
}

.bg_img{
  position: absolute;
  transform: translate(-50%);
  height: 100vh;
  width: 100%;
}

.bg_gamers{
  height: 100%;
  width: 50%;
}

.gamer1{
  position: absolute;
  height: 35%;
  left: 5%;
  top: 15%;
}

/* .gamer2{
  position: absolute;
  height: 40%;
  left: 20%;
  top: 53%;
} */

.gamer3{
  position: absolute;
  height: 35%;
  left: 25%;
  bottom: 8%;
}

.section_text{
  height: 75%;
  width: 38%;
  background-color: rgba(0, 0, 0, 0.467);
  position: absolute;
  top: 17%;
  left: 51%;
  margin: 0;
  font-family: instrucciones;
  border-left: 4px solid rgb(94, 94, 94);
  border-right: 4px solid rgb(94, 94, 94);
}

.section_text h1{
  margin: 10% 0; 
  font-size: 1.6cqi;
  color: rgb(31, 230, 0);
}

.section_text h2{
  background-color: rgba(0, 0, 0, 0.452);
  color: rgb(125, 255, 120);
  padding: 0 30px;
  border-radius: 20px;
  margin: 0;
  width: 70%;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  font-size: 1.5cqi;
}

.section_text h3{
  margin: 0;
  width: 70%;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  margin-bottom: 40px;
  font-size: 1.2cqi;
}

.world{
  top: 55%;
  left: 3%;
  height: 40%;
  width: 32%;
  position: absolute;
  z-index: 50;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 15%);
  border-radius: 40px;
  backdrop-filter: blur(2px);
  /* box-shadow: 5px 0px 5px rgba(0, 0, 0, 60%),
  -5px 0px 5px rgba(0, 0, 0, 60%); */
   box-shadow: inset 0px 0px 35px rgba(0, 0, 0, 80%); 
}


.world h1{
  font-family: videojuegos;
  font-size: 50px;
  line-height: 1.2;
  margin: 0;
  color: rgb(105, 230, 80);
}

.world h1:first-child {
  font-size: 6cqi;
  padding-left: 1.7%;
  padding-top: 8%;
}
.world > h1:nth-child(2) {
  font-size: 2.5cqi;
}
.world > h1:nth-child(3) {
  font-size: 4cqi;
}

