.container{
  position: fixed;
  bottom: 0;
  display: inline-block;
  right: 31%;
  height: 100px;
  width: 200px;
}

:root {
  --arrow-icon: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg);
}


.select {
  appearance: none;
  border: 0;
  outline: 0;
  width: 100%;
  padding: 0.5rem 3rem 0.5rem 1.5rem;
  background: var(--arrow-icon) no-repeat right 0.8em center / 1.4em, linear-gradient(to left, rgba(17, 175, 11, 0.8) 3em, rgba(17, 175, 11, 0.5) 3em);
  color: rgb(12, 11, 119);
  border-radius: 15px;
  box-shadow: 0 2px 0.5em 0px rgba(0, 0, 0, 80%);
  cursor: pointer;
  bottom: 50%;
  position: absolute;
  transform: translate(0, 50%);
}

.select option {
  background-color: rgb(24, 196, 53);
}
